<!DOCTYPE html>
<html lang="en" ng-app="appMileageLog">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mileage Log</title>
    <script src="bundle.js"></script>
    <link rel="stylesheet" href="bundle.css">
    <link href="https://fonts.googleapis.com/css?family=Fugaz+One|Varela+Round|Raleway" rel="stylesheet">
  </head>
  <body>
    <ng-view id-"pageContent"></ng-view>
  </body>
</html>
