@import "_theme";

#logContainer {
  width: 70vw;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .displayLog {
    display: flex;
    min-height: 250px;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 10px 20px 10px;
    background-color: #505E6B;
    box-shadow: 4px 4px 3px #888888;
  }

  .logInfo {
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4 {
      font-family: "Raleway";
      font-size: 1.2em;
      height: 20px;
      color: #C1C5CC;
      margin: 2vh 2vw 2vh 2vw;
    }

    p {
      font-family: "Raleway";
      font-size: 1.5em;
      height: 20px;
      color: $app-default;
      margin: 2vh 2vw 2vh 2vw;
    }
  }

  #logDate {
    width: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
  }

  #tripDetails {
    display: flex;
    flex-direction: row;
    flex: 1;

    #logDistance {
      justify-content: flex-start;
      width: 50%;
      border-right: 1px solid rgba(0, 0, 0, .2);
      p {
        font-size: 2em;
      }
    }

    #logRoute {
      justify-content: flex-start;
      width: 50%;
      border-left: 1px solid rgba(0, 0, 0, .2);
    }

    h4 {
      text-align: left;
    }
  }
}
