@import "_theme";

.app-login{
  font-family: 'Varela Round', sans-serif;
  margin: 10vh auto;
  width: 50vw;
  height: 75vh;

  @media(max-width: 500px) {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
  }

  h1{
    color: $app-default;
    font-size: 3em;
    text-align: center;
    font-family: 'Fugaz One', cursive;

    @media(max-width: 500px) {
      font-size: 2em;
    }
  }

  h4 {
    color: $app-darkBlue;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    width: 30vw;

    @media(max-width: 500px) {
      font-size: 1.2em;
      width: 100%;
    }
  }

  p {
    color: $app-darkBlue;
    margin: 5px auto 0 auto;
  }

  .selected{
    background-color: grey;
    p {
      color: white;
    }
  }

  .loginSelect {
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media(max-width: 500px) {
      margin-top: 20px;
    }

    div {
      cursor: default;
      width: 75px;
      text-align: center;
      border: thin solid grey;
      border-bottom: none;
      border-radius: 5px 5px 0 0;
    }
  }

  .emailPass, .naming {
    margin: 10% auto;
    width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
    border-radius: 5px;

    @media(max-width: 500px) {
      width: auto;
    }

    .input-block{
      line-height: 100%;
      height: 50px;
      margin-bottom: 10px;
      text-align: center;

      input{
        border: none;
        outline: none;
        border-bottom: thin solid $app-default;
        border-radius: 0;
      }

      input{
        margin-top: 20px;
        font-family: 'Varela Round', sans-serif;
        font-size: 1.1em;
      }
    }
  }


  .signup-form, .signin-form{
    button {
      font-family: 'Varela Round';
      width: 100px;
      height: 30px;
      margin: 0 auto;
      position: relative;
      border: thin solid $app-default;
      background-color: white;
      border-radius: 5px;
      &:hover{
        background-color: $app-default;
      }
    }

    text-align: center;
  }

  #signinError {
    position: fixed;
    width: 350px;
    top: 50%;
    left: 50%;
    z-index: 100;
    text-align: center;
    margin-left: -175px;
    padding: 10px;
    border: solid thin $app-error;
    border-radius: 5px 5px 5px 5px;
    background-color: white;

    h3 {
      color: $app-error;
      font-family: "Varela Round";
    }

    @media(max-width: 500px) {
      width: 300px;
      padding: 5px;
      margin-left: -150px;
    }
  }
}
