@import "_theme";

.app-heading-control {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 80px;
  top: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #d3d3d3;
  box-shadow: 10px 10px 5px #888888;


  h1 {
    width: 300px;
    margin: 10px auto 0 auto;
    text-align: center;
  }

  .userMenu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    #pageControl {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-left: 5vw;

      li {
        margin: 0 0;
      }
    }

    li {
      cursor: pointer;
      border: thin solid grey;
      border-bottom: none;
      border-radius: 15px 15px 0px 0px;
      color: $app-default;
      background-color: white;
      padding: 10px;
      margin: 0 20px;

      &:active {
        color: $app-blue;
      }
    }

    a {
      color: $app-default;
      text-decoration: none;
    }
  }
}
