<main class="app-map">
  <app-heading-control></app-heading-control>
  <app-trip-meter ng-show="mapCtrl.meter"></app-trip-meter>

  <div id="map"></div>

  <button class="startStop"
          ng-if="mapCtrl.startTrack == null && mapCtrl.stopTrack == null"
          ng-click="mapCtrl.tripButton(); tripMeterCtrl.getStartingPosition()">
          {{mapCtrl.buttonText}}
  </button>
  <button class="startStop"
          ng-if="mapCtrl.startTrack !== null"
          ng-click="mapCtrl.tripButton()">
          {{mapCtrl.buttonText}}
  </button>
</main>
