<main class="app-trip-meter">
  <div id="trip-meter">
    <p ng-if="mapCtrl.startTrack == null">click the Track Me! button to start tracking!</p>
    <div ng-if="mapCtrl.startTrack == true">
      <p>Starting Location:</p>
      <p>
        <span id="startLocationLat">lat: {{tripMeterCtrl.startPos.lat}},</span><br>
        <span id="startLocationLon">lng: {{tripMeterCtrl.startPos.lng}}</span>
      </p>
    </div>
    <div ng-if="mapCtrl.startTrack == true || mapCtrl.stopTrack == true">
      <p>Current Location:</p>
      <p>
        <span id="currentLocationLat">lat: {{mapCtrl.pos.lat}}</span><br>
        <span id="currentLocationLon">lng: {{mapCtrl.pos.lng}}</span>
      </p>
    </div>
    <p ng-if="mapCtrl.stopTrack == true">
      Distance traveled: <span id="distanceTraveled">{{tripMeterCtrl.distanceTraveled}}</span>
    </p>
  </div>
</main>
